.fondo{
  background-color: #E1F1DD;
}
.fondo-white{
  background-color: #053742;
}
.jumbo{
  background: url("img/vegetales.png") no-repeat center center fixed;
}
.fondos{
  background-color: #FAF3F3;
}
